<div class="mn-header fix">
    <div class="f"><i class="fa fa-th m-color-0"></i><span>{{auctionModel.modalTitle}}</span></div>
    <div class="r"><a class="btn btn-white" ng-click="back2main()"><i class="ti-back-left"></i>返回</a></div>
</div>

<div class="common-container">
    <h3>藏品详情</h3>
    <div class="con-item fix">
        <span class="f">藏品名称：</span>
        <div class="f" style="line-height: 36px" ng-show="!auctionModel.isAdd">{{auctionModel.goodsName}}</div>
        <div class="f sel-goods-box"  ng-show="auctionModel.isAdd">
            <input type="text" class="form-control" ng-click="checkGoodsBox()" readonly="readonly" ng-model="auctionModel.goodsName" placeholder="点击选择藏品">
            <div class="goods-picker">
                <div class="goods-picker-head fix">
                    <span class="f">选择藏品</span>
                    <i class="ti-close r" ng-click="closeGoodsBox()"></i>
                </div>
                <div class="goods-search fix">
                    <div class="f m-g-l-10"><input type="text" class="form-control" ng-model="auctionModel.keyWords" placeholder="输入藏品名搜索"></div>
                    <a class="f btn btn-default" ng-click="searchGoods()">搜索</a>
                </div>
                <div class="scroll-box">
                    <table class="table">
                        <thead><tr>
                            <td>序号</td>
                            <td>藏品名称</td>
                            <td>藏品图片</td>
                        </tr></thead>
                        <tbody>
	                        <tr ng-repeat="item in auctionModel.allGoodsArr">
	                            <td>{{$index + 1}}</td>
	                            <td><span class="btn-check user-sel-none" ng-click="selCurGoods(item)">{{item.name}}</span></td>
	                            <td><img style="height: 40px; width: 60px;" ng-src="{{item.pic}}"  ng-click="selCurGoods(item)"></td>
	                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="con-item fix" ng-show="auctionModel.goodsBid !== null">
        <span class="f">藏品进价：</span>
        <div class="f"><span style="line-height: 34px;">{{auctionModel.goodsBid}}</span></div>
    </div>
    <div class="con-item fix">
        <span class="f">上拍时间：</span>
        <div class="f"><input class="form-control wicon" type="text" id="startTime" placeholder="选择上拍时间" readonly/></div>
    </div>
    <div class="con-item fix">
        <span class="f">截拍时间：</span>
        <div class="f"><input class="form-control wicon" type="text" id="endTime" placeholder="选择截拍时间" readonly/></div>
    </div>
    <div class="con-item fix">
        <span class="f">初始价格：</span>
        <div class="f"><input type="number" class="form-control" ng-model="auctionModel.initPrice"></div>
    </div>
    <div class="con-item fix">
        <span class="f">最低加价：</span>
        <div class="f"><input type="number" class="form-control" ng-model="auctionModel.lowPrice"></div>
    </div>
    <!--<div class="con-item fix">
        <span class="f">参考价：</span>
        <div class="f"><input type="number" class="form-control" ng-model="auctionModel.referencePrice"></div>
    </div>-->
    <div class="con-item fix">
        <span class="f">保证金：</span>
        <div class="f"><input type="number" class="form-control" ng-model="auctionModel.marginPrice"></div>
    </div>
  
    <div class="con-item fix">
        <span class="f">封顶价：</span>
        <div class="height-price-box f">
        	<p class="turn-on-word">是</p><p class="not-checking" id="to-turn-on" ng-click="toShowInput(1)"></p>
        	<p class="turn-off-word">否</p><p class="not-checking  is-checking" id="to-turn-off" ng-click="toShowInput(0)"></p>
        </div>
        <div  id="height-price-hide"><input id="height-price-inp" type="number" class="form-control" ng-model="auctionModel.cappedPrice"></div>
    </div>
    <div class="con-item fix">
    	<span class="f">拍品属性：</span>
    	<div class="f" style="line-height:32px">
    		<div class="fle-radio radio-checked" id="not-important" ng-click="setPredicable(0)"></div>
			<div class="wordMark" for="not-important">普通拍品</div>
			<div class="fle-radio" id="very-important" ng-click="setPredicable(1)"></div>
			<div class="wordMark" for="very-important">VIP专享拍品</div>
    	</div>
    </div>
    <div class="con-item fix">
    	<span class="f">是否参与有奖竞猜：</span>
    	<div class="height-price-box f">
        	<p class="turn-on-word">是</p><p class="not-checking is-checking" id="to-turn-on-quiz" ng-click="toShowJoin(1)"></p>
        	<p class="turn-off-word">否</p><p class="not-checking  " id="to-turn-off-quiz" ng-click="toShowJoin(0)"></p>
        </div>
        <div id="quiz-hide" class="f m-g-l-10">
        	<div class="height-price-box f">
	        	<span class="f" style="line-height: 34px;">参与人数：</span>
	        	<div class="f"><input type="number" class="form-control" style="width: 100px;" ng-model="auctionModel.limitNum"></div>
	        	<span class="f m-g-l-10" style="line-height: 34px;">人</span>
	        	<span id="tips" class="f m-g-l-10" style="line-height: 34px; color: #CC3333;display: none;">参与人数最少有3个人</span>
	        </div>
	        <div class="height-price-box f m-g-l-20">
	        	<span class="f" style="line-height: 34px;">奖金：</span>
	        	<div class="f"><input type="number" class="form-control" style="width: 100px;" ng-model="auctionModel.tickets"></div>
	        	<span class="f m-g-l-10" style="line-height: 34px;">元</span>
	        </div>
        </div> 
    </div>
    <div class="con-item fix">
        <span class="f"></span>
        <div class="f"><a class="btn btn-default" ng-click="submitAuction()">上拍</a></div>
        <div class="f" style="margin-left: 20px;"><a class="btn btn-primary" ng-click="preview()">预览</a></div>
    </div>
</div>

<!--上拍前预览-->
<div id="preview" class="preview-phone" style="display: none;">
	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-img" ng-repeat="item in goodsDetailModel.pics">
            	<img ng-src="{{item}}"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    
    <div class="goods-info" id="goods-info">
    	<div></div>
    </div>
    
    <div class="refresh"><img src="assets/images/public/fresh.png" />更&nbsp;新</div>
    <div class="time fix">
		<div class="f">距离结束:</div>
		<div class="f">
			<span>{{goodsDetailModel.day}}</span>天
			<span>{{goodsDetailModel.hour}}</span>时
			<span>{{goodsDetailModel.min}}</span>分
		</div>
    </div>
    
    <div class="button">出价</div>
    <div class="button">委托出价</div>
    
    <div class="price fix">
    	<div style="width:31%;float:left;color:#C4996D"><span class="ticket">起</span> ¥<span>{{goodsDetailModel.initialPrice?goodsDetailModel.initialPrice:"0"}}</span></div>
    	<div style="width:31%;float:left;color:#C4996D"><span class="ticket">加</span> ¥<span>{{goodsDetailModel.lowestPremium?goodsDetailModel.lowestPremium:"0"}}</span></div>
    	<div  style="width:31%;float:left;color:#C4996D"><span class="ticket">保</span> ¥<span>{{goodsDetailModel.margin?goodsDetailModel.margin:"0"}}</span></div>
    </div>
    
    <div class="button2" ng-show="goodsDetailModel.cappedPrice > 0">
    	封顶价 ¥<span>{{goodsDetailModel.cappedPrice}}</span>
    </div>
</div>