<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
        <title>我的订单</title>
        <link rel="stylesheet" href="../css/ui.base.css" />
        <link rel="stylesheet" href="../css/selected.css" />
        <link rel="stylesheet" href="../css/person_center.css" />
        <link rel="stylesheet" href="../popUpModal/popUp.css" />
	</head>
	<body ng-controller="ctrl">
		<div class="container" style="opacity: 1;">
			<!--订单类型切换-->
			<ul class="order-tab clear">
				<li ng-click="onClickSwitchOrder('')"><p ng-class="{false : '',true : 'tab-active'}[ordertype=='']">全部</p></li>
				<li ng-click="onClickSwitchOrder(1)"><p ng-class="{false : '',true : 'tab-active'}[ordertype==1]">待付款</p></li>
				<li ng-click="onClickSwitchOrder(3)"><p ng-class="{false : '',true : 'tab-active'}[ordertype==3]">待收货</p></li>
				<li ng-click="onClickSwitchOrder(4)"><p ng-class="{false : '',true : 'tab-active'}[ordertype==4]">已完成</p></li>
			</ul>

			<!--加载动画-->
			<div class="animation">
				<img src="../img/loading.gif" />
			</div>
			
			<!--订单列表-->
			<ul class="order-container">
				<li class="my-order-li" ng-repeat="item in orderListModel.orderList track by $index">
					<div class="order-top">
						<div class="order-top-lf">订单编号<span ng-bind="item.order_no"></span></div>
						<span class="order-top-rg" ng-class="{false : '',true : 'orderType-active'}[item.orderTypeStyle]" ng-bind="item.orderTypeText"></span>
					</div>
                    <div class="order-mid fix" ng-click="onClickToOrderDetail(item.order_no,item.userId)">
                        <div class="f bidding-img">
                            <img ng-src="{{item.orderGoods[0].goods_cover}}">
                        </div>
                        <div class="bidding-txt f">
                            <h4 style="color: #555; font-weight: 500;">{{item.orderGoods[0].goods_name}}</h4>
                            <div class="price-init" style="color: #FF4506;line-height:50px">￥{{item.goodsPrice}}</div>
                            <!--<div class="price-tag"><span style="margin-left: 3px;" class="order-item-num">x </span><span class="order-item-num" ng-bind="item.orderGoods[0].goodsNum"></span>
                            	<span ng-show="!item.orderIsPay && item.deliveryType == 0" style="padding-right:10px;float:right;color:#FF4506">在线订单</span>
                            	<span ng-show="item.deliveryType == 1" style="padding-right:10px;float:right;color:#FF4506">当面付订单</span>
                            </div>-->
                        
                        </div>
                    </div>

					<div class="order-bottom">
                        <div>保证金抵扣¥ <span>{{item.prepaidPrice}}</span>元</div>
						<ul class="clear">
							<li class="pay-li">实付<span>¥{{item.payPrice}}</span></li>
							<li style="font-size: 12px;margin: 0 10px;color: #4a4a4a;">小计(不含运费) : </li>
							<li style="font-size: 12px;color: #4a4a4a;">共<span ng-bind="item.orderGoods[0].goodsNum"></span>件商品</li>
						</ul>
						<div ng-show="item.deliveryType == 1 && item.orderStatus == 1" style="color:#FF4506;line-height: 20px;font-size: 12px;margin-bottom:0px">您选择了当面交易方式，请在交易时，支付订单金额。</div>
					</div>
					<div class="order-operate clear">
						<button class="btn-active" ng-show="item.orderIsReceive" ng-click="onClickToConfirmReceipt(item.order_no)">确认收货</button>
						<button class="btn-active" ng-show="item.orderIsPay" ng-click="onClickToPayOrder(item.order_no)">去付款</button>
						<button ng-click="onClickToOrderDetail(item.order_no)">查看详情</button>
					</div>
				</li>
			</ul>
			
			<!--暂无数据-->
			<div class="no-data">暂无数据！</div>
		</div>
	</body>
	<!--系统js-->
	<script type="text/javascript" src="../js/jquery.min.js" ></script>
	<script type="text/javascript" src="../js/zepto.min.js" ></script>
	<script type="text/javascript" src="../js/angular.min.js" ></script>
	<script type="text/javascript" src="../js/jqAjaxRequest.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/config.js" ></script>
	<script type="text/javascript" src="../popUpModal/confirmTip.js" ></script>
	<script type="text/javascript" src="../popUpModal/confirmDialog.js" ></script>
    <script src="../controller/app.js"></script>
	<!--controller-->
	<script type="text/javascript" src="../controller/personCenter/orderListController.js" ></script>
	
	<!--插件-->
	<script type="text/javascript" src="../js/fastclick.js" ></script>

	<script>
		$(function(){
			//监听微信返回按钮
			pushHistory();
			var bool=false;  
            setTimeout(function(){  
                bool=true;  
            },1500);
		    window.addEventListener("popstate", function(e) {
		    	if(bool)
		    	{
		    		if(!commonFu.isEmpty(localStorage.getItem(localStorageKey.TOKEN)))
			        {
			        	location.href = pageUrl.PERSON_CENTER;
			        }
		    	}
		    	pushHistory();
		    }, false); 
		    function pushHistory() { 
		        var state = { 
		            title: "title", 
		            url: "#"
		        }; 
		        window.history.pushState(state, "title", "#"); 
		    }
		})
	</script>
</html>
