<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
        <title>支付订单</title>
        <link rel="stylesheet" href="../css/ui.base.css" />
        <link rel="stylesheet" href="../css/selected.css" />
        <link rel="stylesheet" href="../css/person_center.css" />
        <link rel="stylesheet" href="../popUpModal/popUp.css" />
        <link href="../plugin/layerMobile/need/layer.css">
        <link rel="stylesheet" href="../css/newPersonal.css" />
	</head>
	<body ng-controller="specialctrl" style="background: #FFFFFF;">
		<!--加载动画-->
		<div class="animation">
			<img src="../img/loading.gif" />
		</div>
		<div class="container" style="background: #FFFFFF;">
		    <div class="pay-special-roder-title">
		    	<span style="color:#777777;line-height: 50px;float:left;">订单金额：</span>
		    	<span style="color:#FF6600;line-height: 50px;float:right" ng-bind="'￥'+commPrice"></span>
		    </div>
		    <div class="pay-special-way">
		    	支付方式
		    </div>
		    <div class="pay-special-choose">
		    	<div class="pay-special-choose-img">
		    		<img src="../img/my-account.png" /> 
		    		
		    	</div>
		    	<div class="pay-special-choose-word">
		    		余额支付
		    	</div>
		    	<div class="pay-special-choose-checkbox pay-special-choose-checkbox-hasSel" ng-click="chooseIt()">
		    		<!--<img src="../img/personCenter/yes.png" />
		    		<img src="../img/personCenter/no.png" /> -->
		    	</div>
		    	
		    </div>
		    <div class="sure-to-pay-special ripple" ng-click="payForComm()">
		    		去支付
		    </div>
		</div>
	</body>
	<!--系统js-->
	<!--<script type="text/javascript" src="../js/jquery.min.js" ></script>-->
	<script type="text/javascript" src="../js/zepto.min.js" ></script>
	<script type="text/javascript" src="../js/angular.min.js" ></script>
	<script type="text/javascript" src="../js/jqAjaxRequest.js" ></script>
	<script type="text/javascript" src="../js/common.js" ></script>
	<script type="text/javascript" src="../js/config.js" ></script>
	<script type="text/javascript" src="../popUpModal/confirmTip.js" ></script>
	<script type="text/javascript" src="../popUpModal/confirmDialog.js" ></script>
    <script src="../plugin/layerMobile/layer.js"></script>
    <script src="../module/dialog/dialog.js"></script>
    <script src="../controller/app.js"></script>
	<!--controller-->
	<script type="text/javascript" src="../controller/personCenter/specialPageController.js" ></script>
	
	<!--插件-->
	<script type="text/javascript" src="../js/fastclick.js" ></script>
</html>
