<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>雅玩客服端</title>
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/loginIn.css" />
        <link rel="stylesheet" href="css/popUp.css" />
        <link href="layer.css">
         <script src="js/base64.js"></script>
        <script type="text/javascript" src="js/jquery-1.8.3.js" ></script>
     <script src="js/qrodecopy.js"></script>
	</head>

	<body ng-controller="HomeCtr" style="background: #F5F5F5">
		<div class="animation3" style="background: #FFFFFF;">
			        <img src="img/loading.gif"/>
		</div>
		<div class="container3" styel="overflow:auto;background: #F5F5F5">
			
			<div class="personalTop">
				<div class="personalTop-left">
					<div class="personalTop-pre">
						你好,
					</div>
					<div class="personalTop-name" ng-bind="personalName">
						
					</div>
				</div>
				<div class="personalTop-right" ng-click="exitHome()">
					 退出
				</div>
			</div>
			
			<div class="personalMiddle">
				<div class="cus-bottom" ng-click="toOrderList()">
					<img class="cus-fir-ic" src="img/cusImg/order-icon.png"/>
					<div>商品订单管理</div>
					<img class="cus-sec-ic" src="img/cusImg/enter-order.png"/>
				</div>
				
			</div>
		
		</div>
		<!--<div class="container3" style="background-color: #fff;padding-top:5vw;">
		  	 <div id="qrcode"></div>
		     <div id="mypushcode">我的专属推广二维码</div>
		  </div>-->
	</body>
    
	<!--系统js-->
	<script type="text/javascript" src="js/zepto.min.js" ></script>
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/jqAjaxRequest.js" ></script>
	<script type="text/javascript" src="js/common.js" ></script>
	<script type="text/javascript" src="js/config.js" ></script>
    <script src="js/layer.js"></script>
    <script src="js/dialog.js"></script>
	<script type="text/javascript" src="js/confirmTip.js" ></script>
     <script src="js/app.js"></script>
	<script>
		
		  
			if (typeof localStorage === 'object') {
			    try {
					localStorage.setItem('localStorage', 1);
					localStorage.removeItem('localStorage');
				} catch (e) {
					Storage.prototype._setItem = Storage.prototype.setItem;
					Storage.prototype.setItem = function() {};
					$dialog.msg('为了正常访问，请关闭无痕模式');
				}
			}


	</script>
	<!--插件-->
	<script type="text/javascript" src="js/fastclick.js" ></script>
	<!--controller-->
	<script type="text/javascript" src="controller/homePageController.js" ></script>
	<script>
		if(window.screen.width < 375){
			$('.user-input').css('margin-top','5vh');
		}
		
		
		$(function() {
			
			//监听微信返回按钮
			pushHistory();
			var bool=false;

            setTimeout(function(){
                bool=true;
            },1000);
		    window.addEventListener("popstate", function(e) {
		    	if (bool)
		    	{   
		    		
		    		location.href = pageUrl.HOME_PAGE;
		    		
		    	}
		    	pushHistory();

		    }, false);
		    function pushHistory() {
		        var state = {
		            title: "title",
		            url: "#"
		        };
		        window.history.pushState(state, "title", "#");
		    }
		})
		
	</script>
</html>
