@charset "utf-8";

.common-container {
    min-height: 812px;
    padding: 15px;
    margin-top: 10px;
    background-color: #fff;
}

.common-container-s {
    min-height: 686px;
    padding: 15px;
    margin-top: 10px;
    background-color: #fff;
}

.common-container h3 {
    padding: 15px;
}

.con-item {
    margin-top: 20px;
    min-height: 50px;
}

.con-item > span {
    display: block;
    width: 150px;
    padding-right: 20px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}

.con-item-sel > span {
    padding-right: 20px;
    line-height: 36px;
    cursor: pointer;
}

.con-title {
    width: 400px;
}

.con-img {
    min-height: 150px;
    width: 80%;
}

.con-item-img {
    width: 300px;
    min-height: 150px;
    border: 1px dashed #ddd;
    position: relative;
}

.con-item-img img {
    width: 100%;
    height: 100%;
}

.con-item-img input {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 85%;
    opacity: 0;
    cursor: pointer;
}

.con-item-img > i{
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 28px;
    color: #bbb;
}

.goods-pics-box{
    display: inline-block;
}

.goods-img{
    width: 140px;
    height: 155px;
    margin: 10px;
    margin-bottom:20px;
  /*  border:1px dashed #ddd;*/
    position: relative;
}

.goods-img img{
    width: 100%;
    height:120px;
    border:1px dashed #ddd;
}

.goods-img > i{
    display: block;
    position: absolute;
    top: -10px;
    right: -9px;
    color: #B07B67;
    font-size: 18px;
    cursor: pointer;
}

.set-face-img{
	width:100%;
	height:32px;
	line-height: 32px;
	text-align: center;
	background: #996633;
	color:#FFFFFF
}

.select-round{
	width:24px;
	height:24px;
	overflow: hidden;
	border-radius: 50%;
	margin:0 auto;
	border:1px solid #DDDDDD;
	
}

.round-has-select{
	background: url(../images/public/yes.png) no-repeat left top;
	background-size: cover;
}
.upload-icon{
	
    width: 140px;
    height: 150px;
    margin: 10px;
    vertical-align: top;
    cursor: pointer;
}

.upload-goods-form{
	position: relative;
    width: 140px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 28px;
    border:1px dashed #ddd;

}
.upload-goods-form input{
    position: absolute;
    top:0;
    left:0;
    width: 140px;
    height: 150px;
    z-index: 22;
    filter:alpha(opacity=0);  
    -moz-opacity:0;  
    opacity: 0;  
    /*cursor: pointer;*/
}
.shade{
	position: ;
}



.goods-img-2{
    width: 140px;
    height: 155px;
    margin: 10px;
    margin-bottom:20px;
  /*  border:1px dashed #ddd;*/
    position: relative;
}

.goods-img-2 img{
    width: 100%;
    height:120px;
    border:1px dashed #ddd;
}

.goods-img-2 > i{
    display: block;
    position: absolute;
    top: -10px;
    right: -9px;
    color: #B07B67;
    font-size: 18px;
    cursor: pointer;
}

.set-face-img-2{
	width:100%;
	height:32px;
	line-height: 32px;
	text-align: center;
	background: #996633;
	color:#FFFFFF
}

.select-round-2{
	width:24px;
	height:24px;
	overflow: hidden;
	border-radius: 50%;
	margin:0 auto;
	border:1px solid #DDDDDD;
	
}


/*.upload-goods-form > i{
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    right: 50%;
    font-size: 28px;
    color: #bbb;
}*/

.con-editor {
    width: 500px;
}

.txt-over-flow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*超过两行省略*/
    overflow: hidden;
    width: 90%;
}

.sel-goods-box {
    width: 195px;
    height: 34px;
    position: relative;
}

.ctrl-goods-show .goods-picker {
    display: block;
}

.goods-picker-head {
    padding: 10px;
    text-align: right;
}

.goods-picker-head > span {
    font-weight: 600;
    font-size: 15px;
}

.goods-picker-head > i:hover {
    cursor: pointer;
}

.goods-search > a {
    margin-left: 10px;
    border-radius: 1px;
}

.goods-picker {
    display: none;
    width: 500px;
    min-height: 100px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    top: 33px;
    left: 0;

    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.scroll-box {
    padding: 5px;
    max-height: 500px;
    overflow-y: scroll;
    position: relative;
}

.scroll-box::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 2px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.swiper-img {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
}

.swiper-img img{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*layer skin css*/
body .layer-ex-skin .layui-layer-btn .layui-layer-btn0 {
    border-color: #455F71;
    background-color: #455F71;
    color: #bcbcbc;
}

body .layer-ex-skin .layui-layer-content .preview-phone {
	overflow: auto;
}

body .layer-ex-skin .layui-layer-content .goods-info {
	padding: 6px 12px;
	border-bottom: 5px solid #eee;
}

body .layer-ex-skin .layui-layer-content .refresh {
	text-align: center;
	color: #7e7346;
	line-height: 45px;
}

body .layer-ex-skin .layui-layer-content .refresh img {
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: -3px;
	margin-right: 3px;
}

body .layer-ex-skin .layui-layer-content .time {
	width: 88%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #7E7346;
	background: url(../images/public/endtime-bg.png) no-repeat center;
	background-size: 100% 100%;
    margin-left: 6%;
    padding-left: 60px;
    font-size: 12px;
}

body .layer-ex-skin .layui-layer-content .time span {
	display: inline-block;
	width: 20px;
}

body .layer-ex-skin .layui-layer-content .button {
	width: 80%;
	height: 40px;
    line-height: 40px;
	color: #fff;
	background: url(../images/public/btn3.png) no-repeat center;
	background-size: 100% 100%;
	text-align: center;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-top: 8px;
}

body .layer-ex-skin .layui-layer-content .button2 {
	width: 80%;
	height: 40px;
    line-height: 40px;
	color: #fff;
	background: url(../images/public/reference_bg.png) no-repeat center;
	background-size: 100% 100%;
	text-align: center;
    letter-spacing: 1px;
    margin-left: 10%;
    margin-top: 8px;
    color: #C4996D;
    margin-bottom: 20px;
}

body .layer-ex-skin .layui-layer-content .price {
	padding: 10px 12%;
}

body .layer-ex-skin .layui-layer-content .price div {
	/*min-width: 44%;*/
	margin-top: 6px;
}

body .layer-ex-skin .layui-layer-content .price .ticket {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: url(../images/public/operate-bg.png) no-repeat center;
    background-size: contain;
    font-size: 12px;
    vertical-align: middle;
}

