<div  class="item">
    <div class="mn-header fix">
    	<div class="f"><i class="fa fa-th m-color-0"></i><span>商品列表</span></div>
    	
        <div class="r m-g-l-10" style="float:right;margin-left:20px;"><a class="btn btn-danger" ng-click="delCommodity()"><i class="ti-trash"></i>删除</a></div>
        <div class="r" style="float:right;margin-left:30px;" ><a class="btn btn-default" ng-click="addCommodity()"><i class="ti-plus"></i>新增</a></div>
    	<div class="f m-g-l-10"  style="float:right"><a class="btn btn-white" ng-click="searchCommodify()">查询</a></div>
    	<div class="f input" style="float:right"><input type="text" ng-model="fields" class="form-control" placeholder="输入商品名称查询"></div>
        
    	
    </div>
    <div class="mn-header fix" style="overflow: hidden;width:100%;float:left;height:50px;border-top:8px solid #EEEEEE;margin-bottom:5px">
        <div style="border:1px solid #DDDDDD;border-radius: 2px;padding:0 10px;" class="f checking up-btn-1s" ng-click="getDifCommodity(0)"><span>未上架</span></div>
        <div style="border:1px solid #DDDDDD;border-radius: 2px;padding:0 10px;" class="f checking up-btn-1s" ng-click="getDifCommodity(1)"><span>已上架</span></div>
        
    </div>
     
   
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <td style="text-align: center">序号</td>
                <td style="text-align: center">商品图片</td>
                <td style="text-align: center;max-width:230px">商品名称</td>
                <td style="text-align: center">商品进价</td>
                <td style="text-align: center">商品售价</td>
                <td style="text-align: center">年化收益率</td>
               
                <td style="text-align: center">库存</td>
                 <td style="text-align: center">商品来源</td>
                <td style="text-align: center">状态</td>
                <td style="text-align: center">创建时间</td>
                <td style="text-align: center">操作</td>
                <td><div class="all-sel-txt">全选</div><span ng-click="allSel()" ng-class="{true: 'has-sel', false: 'un-sel'}[selectAll]"></span></td>
            </tr>
            </thead>
            <tbody id="tBodyCommodity">
            <tr ng-repeat="item in CommodityList">
                <td style="text-align: center">{{$index + 1 + (page.currentPage - 1)*page.selectPageNum}}</td>
                <td style="text-align: center"><img ng-src="{{item.commodity_cover}}" style="width:120px;margin:0 auto" /> </td>
                <td style="text-align: center;max-width:230px" ng-bind="item.commodity_name"></td>
                <td style="text-align: center" ng-bind="'￥'+item.bid_price"></td>
                <td style="text-align: center" ng-bind="'￥'+item.commodity_price"></td>
                <td style="text-align: center" ng-bind="item.annualized_return + '%'"></td>
                <td style="text-align: center" ng-bind="item.stock_num+ '件'"></td>
                <td style="text-align: center">
                 	<span ng-show="item.CID == 0">自营</span>
                 	<span ng-show="item.CID != 0" ng-bind="item.comeFrom"></span>
                </td>
                <td style="text-align: center">
                	
                	<span ng-show="item.is_up == 1">已上架</span>
                	<span ng-show="item.is_up == 0">未上架</span>
                </td>
                
                <td style="text-align: center" ng-bind="item.add_time*1000 | date:'yyyy-MM-dd HH:mm:ss'">2017</td>
                <td style="text-align: center">
                	<a class="btn btn-default" ng-click="preViewCommodity(item)"  ng-hide="item.CID != 0 && item.mch_is_delete == 1">预览</a>
                    <a class="btn btn-default" ng-click="modCommodity(item)" ng-hide="item.CID != 0 && item.mch_is_delete == 1">修改</a>
                    <a class="btn btn-warning" ng-show="isGrounding == 0 && (item.mch_is_delete != 1)"  ng-click="uploadCommodity(item,1)">上架</a>
                    <a class="btn btn-warning" ng-show="isGrounding == 1 && (item.mch_is_delete != 1)"  ng-click="uploadCommodity(item,0)">下架</a>
                    <div style="background: #E3E3E3;line-height:35px;width:160px !important;margin:0 auto" ng-show="item.CID != 0 && item.mch_is_delete == 1">该商品已被商户删除</div>
                    <span ng-click="toMoveItem(item,1)" ng-show="item.mch_is_delete != 1" style="width:43px;height:33px;padding-left:18px;padding-right:10px;;line-height:45px;margin-top:6px;font-weight:700;text-align:center;font-size:30px;color:#B89A7B">
                    	↑
                    </span>
                    <span ng-click="toMoveItem(item,0)" ng-show="item.mch_is_delete != 1" style="width:43px;padding-left:10px;padding-right:10px;;height:33px;line-height:45px;text-align:center;font-weight:700;margin-top:6px;font-size:30px;color:#B89A7B">
                    	↓
                    </span>
                </td>
                <!--<td style="text-align: center"><span ng-click="oneSel(item.id)" ng-class="{true: 'has-sel', false: 'un-sel'}[item.selected]"></span></td>-->
                 <td style="text-align: center"><span ng-click="oneSel(item)" ng-class="{true: 'has-sel', false: 'un-sel'}[item.selected]"></span></td>
            </tr>
             
            </tbody>
        </table>
    </div>
    <div class="all-fixed-table all-fixed-table-act" id="all-fixed-table-com">
     	<div class="auct-box">
     		<p class="auct-title" style="text-align: center;">删除商品</p>
     		<div class="auct-cont" style="line-height: 80px;">
     			确定要删除该项商品吗？
     		</div>
     		<div class="auct-btn">
     			
     			<p class="all-btn-cancle" ng-click="yesToDelete(1)">确定</p>
     			<p class="all-btn-ok" ng-click="yesToDelete(0)">取消</p>
     		</div>
     	</div>
    </div>
    
    
    
    <div ng-include="'modules/page/page.html'"></div>
</div>


<script src="view/commodity/commodityListController.js"></script>
<div class="pre-com-box" ng-click="hidePre()">
    	
    	
</div>
<div class="cloase-commidify" ng-click="hidePre()">X</div>
<div class="pre-com-content">
    <div class="swiper-container" style="height:200px;">
		<div class="swiper-wrapper" style="height:200px;">
		    <div class="swiper-slide item-img" ng-repeat="item in swiperModel.swiperImgs" style="height:200px;">
		        <img ng-src="{{item}}" style="height:100%;width:96%;margin:5px 2%">
		    </div>
		   
		</div>
 
                <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>	
    <!--<div class="swiper-middle-box">
    	<div class="commidify-name" ng-bind="swiperModel.swiperName">
    		阿大声道
    	</div>
    	<div class="commidify-desc" ng-bind="swiperModel.swiperDesc">
    		大师大师大师大师大师大师大师的按时送达大厦
    	</div>
    	<div class="commidify-price-number">
    		<div class="commidify-price"  ng-bind="'￥'+swiperModel.swiperMoney"></div>
    		<div class="commidify-number">
    			<span>库存</span>
    			<span  ng-bind="swiperModel.swiperNumber"></span>
    			<span>件</span>
    		</div>
    	</div>
    </div>-->
    
    
    
        <div class="swiper-middle-box" style="padding-bottom:0;width:100%;overflow:hidden;padding-top:12px">
            	<div class="num-name-box">
            		<p class="special-sell-name" ng-bind="swiperModel.swiperName">
	            		第三方第三方三发斯蒂芬大师法第三地方撒第三方大分
	            	</p>
            		<p class="special-sell-num">
            		
            	     <span ng-bind="swiperModel.swiperNumber">222</span>
            	     <span>库存</span>
	            	</p>
	            	
            	</div>
            	
            	<p class="special-sell-content" ng-bind="swiperModel.swiperDesc">
            		的广泛的施工方覆盖是的法规地方地方撒对方是个对方是个广东佛山覆盖格式个地方和高度规范规范沪电股份沪电股份沪电股份
            	</p>
            </div>
            <div class="sell-price-number-box">
            	<span style="padding-left:5px;" class="sell-price-box" ng-bind="'￥'+swiperModel.swiperMoney">
            		￥50000
            	</span>
            	<!--<span class="sell-number-box">
            	     <span>库存</span>
            	     <span ng-bind="specialNumber">222</span>
            	     <span>件</span>
            	</span>-->
        </div>
    
    
    <div class="swiper-bottom-box">
    	<!--<div class="swiper-bottom-box-title">商品详情</div>-->
    	<div class="swiper-bottom-box-content" id="commidify-rich-content" style="line-height:23px"></div>
    </div>
   
</div>

<!--修改藏品-->
<div class="hidden item">
	<div class="mn-header fix">
		<div class="f"><i class="fa fa-th m-color-0"></i><span ng-bind="modifyOrAdd"></span></div>
		<div class="r">
			<a class="btn btn-white" ng-click="onClickBack()"><i class="ti-back-left"></i>返回</a>
		</div>
	</div>

	<div class="common-container">
		<!--<h3 ng-bind="modifyOrAdd"></h3>-->
		<div class="con-item fix">
			<span class="f">*商品名称：</span>
			<div class="f con-title"><input type="text" ng-model="CommodityName" maxlength="100" class="form-control"></div>
		</div>
		<div class="con-item fix">
			<span class="f">*商品描述：</span>
			<div class="f con-title"><input type="text" ng-model="CommodityDesc" maxlength="100" class="form-control"></div>
		</div>
		<div class="con-item fix">
			<span class="f">*商品图片：</span>
			<div class="f con-img">
				<upload-com url="CommodityImgs"></upload-com>
			</div>
			
		</div>
		<div class="con-item fix">
			<span class="f">*商品进价(元)：</span>
			<div class="f con-title"><input type="number" class="price-input form-control" ng-model="CommodityBid_price"></div>
		</div>
		
		<div class="con-item fix">
			<span class="f">年化收益率：</span>
			<div class="f con-title"><input type="number" id="dis_return" class="price-input form-control" ng-model="CommodityYearYield"></div>
			<span class="f" style="width:50px">%</span>
		</div>
		
		<div class="con-item fix">
			<span class="f">*商品价格(元)：</span>
			<div class="f con-title"><input type="number" id="dis_price" class="price-input form-control" ng-model="CommodityPrice"></div>
		</div>
		
		<div class="con-item fix">
			<span class="f">*库存类型：</span>
			<div class="f con-title">
				<span style="line-height:34px;margin-left: 5px;margin-right:5px;float:left;">单件</span><div class="singleNumber" ng-click="chooseSOrC(0)"></div>
				<span style="line-height:34px;margin-left: 5px;margin-right:5px;float:left;">多件</span><div class="singleNumber" ng-click="chooseSOrC(1)"></div>
			</div>
		</div>
		
		<div class="con-item fix">
			<span class="f">库存(件)：</span>
			<div class="f con-title"><input type="number" id="singleNub" class="price-input form-control" style="border: 1px solid #CCCCCC;" ng-model="CommodityNumber"></div>
		</div>
		<div class="con-item fix">
			<span class="f">*商品详情：</span>
			<div class="f con-editor">
				<ui-kindeditor ng-model="CommodityDetail"></ui-kindeditor>
			</div>
		</div>

		<div class="con-item fix">
			<span class="f">提交数据：</span>
			<a class="f btn btn-default" ng-click="onClickSubmit()">保&nbsp;&nbsp;存</a>
		</div>
	</div>
</div>

<div class="fixed-chrysanthemum2">
	<img src="assets/images/public/loading600.gif" /> 
</div>

