@charset "utf-8";

/*
 * ================================================================================================= 
 * 公用基础
 * ================================================================================================= 
 */

html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:transparent;
	-webkit-user-select:none;
	-webkit-overflow-scrolling: touch
}

body{
	margin:0;
	border:0;
	padding:0;
	font-size: 14px;
	color: #777;
	background-color: #f0eff5;
	font-family:"microsoft yahei",sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a,ol,ul,li{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4{
	font-weight: 400;
}

a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:block;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a img {
	display: block;
	border: 0
}

img {
    width: 100%;
}

a,button:focus {
	outline: 0;
}

input,textarea{
	-webkit-tap-highlight-color:transparent;
	-webkit-appearance: none;
	font-size: 14px;
}

input,textarea:focus{
	outline: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
 --------------------------
 * common
 --------------------------
 */

.ub
{
	display: -webkit-box !important;
	display: box !important;
	position:relative;
}

.ub-f1
{
	position:relative;
	-webkit-box-flex: 1; 
	box-flex: 1;
}

.hidden{
	display: none;
}

.hiddenIm{
	display: none !important;
}

.show{
	display: block;
}

.showIm{
	display: block !important;
}

.container{
	opacity: 0;
	-webkit-transition: all 0.4s;
}

.f{
    float: left;
}

.r{
    float: right;
}

.fix {
    zoom: 1;
}

.fix:after {
    display: block;
    content: "clear";
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.user-sel-all {
    -webkit-user-select: text;
    user-select: text;
}

/*
 --------------------------
 * loading
 --------------------------
 */

.loading{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 130px;
	height: 50px;
	margin-left: -60px;
	margin-top: -60px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	padding-left: 5px;
}

.loading-lf{
	max-width: 50px;
	min-width: 50px;
	margin-top: 11px;
}

.loading-txt{
	overflow: hidden;
}

.loading-txt span{
	display: block;
	height: 14px;
	line-height: 14px;
	margin-top: 18px;
	color: #999;
}

.loader {
	margin: auto;
    position: relative;
    text-indent: -9999em;
    border: 2px solid rgba(44,176,124, 0.2);
    border-left-color: #2cb07c;
    -webkit-animation: Loading 1.1s infinite linear;
    animation: Loading 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

@-webkit-keyframes Loading {
    0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}

@keyframes Loading {
    0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
}

/*按钮点击*/
.ripple {
	position: relative;
	overflow: hidden
}

.ripple:after {
	content: "";
	background: rgba(255,255,255,0.6);
	display: block;
	position: absolute;
	border-radius: 50%;
	padding-top: 240%;
	padding-left: 240%;
	margin-top: -120%;
	margin-left: -120%;
	opacity: 0;
	transition: all 1s
}

.ripple:active:after {
	padding-top: 0;
	padding-left: 0;
	margin-top: 0;
	margin-left: 0;
	opacity: 1;
	transition: 0s
}

.list-up-down-line:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.list-up-down-line:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.toast{
	position: fixed;
	top: 50%;
	left: 50%;
	height: 50px;
	margin-top: -25px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 6px;
	overflow: hidden;
	z-index: 999999999;
}

.toast span{
	display: block;
	height: 14px;
	line-height: 14px;
	margin-top: 18px;
	color: #fff;
	padding: 0 25px;
	font-size: 13px;
}

.mgt-10{
	margin-top: 10px;
}

.mgt-15{
	margin-top: 15px;
}

.mgt-14{
	margin-top: 14px;
}

.mgt-23{
	margin-top: 23px;
}

.mgt-22{
	margin-top: 22px;
}

.mgt-20{
	margin-top: 20px;
}

.mgb-20 {
    margin-bottom: 20px;
}

.no-more-data{
	padding: 10px 0;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.next-page{
	overflow: hidden;
}

.more{
	height: 30px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-align: center;
	line-height: 30px;
}

.nulldata{
	padding:60px 0;
	overflow: hidden;
}

.nulldata p{
	padding-top: 10px;
	text-align: center;
	color: #333;
}

.nulldata img{
	display: block;
	width:80px;
	margin: auto;
}

.no-data{
	width: 100%;
	height: 100vh;
	line-height: 80px;
	text-align: center;
	font-size: 16px;
	display: none;
	z-index: 99;
}


.no-data-2{
	position: fixed;
	bottom:54px;
	left:0;
	width: 100%;
	height: 100vh;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	display: none;
	z-index: 99;
}


#message-box{
	width:100%;
	height:100%;
	padding:5px 5px;
}
#sale-message {
	position: relative;
	width:100%;
	padding: 5px 8px;
	border-bottom:1px solid #DDDDDD; 
	background: #FFFFFF;
/*	margin-bottom: 8px;*/
}
.messages-title{
	display:inline-block;
	width:55%;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	line-height:25px;
	color:#CEA985;
	font-size: 15px;
}
.messages-time{
	display:inline-block;
	width:40%;
	white-space:nowrap;
	overflow:hidden; 
	text-overflow:ellipsis;
	text-align: right;
	float:right;
	font-size:12px;
	margin-bottom: 6px;
}

.message-had-unread{
	display: inline-block;
	line-height:22px;
	width:66%;
	overflow:hidden; 
	text-overflow:ellipsis;
	word-break:break-all;
	font-size: 14px;
	color:#CEA985;
	letter-spacing: 1px;
	
	

}
.go-to-see{
	position: absolute;
	right:0px;
	display: inline-block;
	width:20%;
	line-height:26px;
	color:#FF9966;
	text-decoration: underline;
   
}
.showMore{
	position: absolute;
	right:0px;
	display: inline-block;
	width:20%;
	height:28px;
	color:#FF9966;
	
	text-decoration: underline;
}
.showMore-word{
	display: inline-block;
	width:54%;
	height:26px;
	line-height: 24px;
}
.down-up-arrow{
	float:right;
	display: inline-block;
	width:46%;
	height:26px;

}
.down-up-arrow img{
	display: inline-block;
	margin-top:2px;
	width:20px;
	height:20px;
	transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
}

.up-down-arrow{
	float:right;
	display: inline-block;
	width:46%;
	height:26px;
	
}
.up-down-arrow img{
	display: inline-block;
	margin-top:2px;
	width:20px;
	height:20px;
	transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
}


/*.rotate-img{
	 animation: rotateImg 2s;
    -webkit-animation: myfirst 2s;
}
@keyframes rotateImg
{
    from {rotate(90deg)}
    to {rotate(-90deg)}
}

*/
#sale-message .unopen-style{
	height:22px;
	text-decoration:none !important;
	
}
#sale-message .hasopen-style{
	height:auto;
	text-decoration:none !important;
	padding-bottom: 10px;

}
#sale-message .unopen-hasread-style{
	height:22px;
	text-decoration:none !important;
	color:#888888;
}
#sale-message .hasopen-hasread-style{
	height:auto;
	text-decoration:none !important;
	padding-bottom: 10px;
    color:#888888;
}

.be-change-color{
	color:#000000;
}

.title-style{
	color:#888888;
}
#no-datas{
	display: none;
	width:100%;
	line-height:35px;
	text-align: center;
	background: #FFFFFF;
}

.bottom-title-content{
	position: absolute;
	width:100%;
	max-height:13vw;
	line-height:6vw;
	padding:0.5vw 2vw;
	bottom:0;
	left:0;
	right:0;
	color:#FFFFFF;
   background: rgba(0,0,0,0.4);
	text-align: left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: normal;
}

.bottom-title-content-2{
	position: absolute;
	width:100%;
	max-height:13vw;
	line-height:6vw;
	padding:0.5vw 2vw;
	bottom:1vw;
    left:0;
	right:0;
	color:#FFFFFF;
    text-align: left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: normal;
}



.sharking{
	
	animation: myAnimation 3.5s ease 0s infinite alternate;
	-webkit-animation:myAnimation  3.5s ease 0s infinite alternate; /* Safari 和 Chrome */
}

@keyframes myAnimation
{
  0% {opacity: 1;}
  13% {opacity: 1;}
  48% {opacity: 0;}
  83% {opacity: 1;}
  100%{opacity: 1;}
}


@-webkit-keyframes myAnimation
{
  0% {opacity: 1;}
  13% {opacity: 1;}
  48% {opacity: 0;}
  83% {opacity: 1;}
  100%{opacity: 1;}
}

.has-no-data{
	display: none;
	
	width:100%;
	height:178;
	padding-top:25vw;
	padding-bottom:15vw;
	text-align: center;
	float:left;
	background: #FFFFFF;
}

.has-no-data img{
	
	width:140px;
	height:140px;
	margin:0 auto;
}

.has-no-data2{
	display: none;
	position: relative;
	width:100%;
	height:178px;
	padding-top:25vw;
	padding-bottom:15vw;
	text-align: center;
	float:left;
	/*background: #FFFFFF;*/
}

.has-no-data2 img{
	
	width:140px;
	height:140px;
	margin:0 auto;
}

.shade-div-nodata{
	display: none;
	position: fixed;
	z-index: 9999;
	bottom: 54px;
	left:0;
	width:100%;
	background: #FFFFFF;
	height:22px;
	text-align: center;
	color:#999999;
	
}
.shade-div-nodata img{
	margin:0 auto;
	width:20px;
	height:20px;
	text-align: center;

}
