

<div class="goods-pics-box fix">
    <div class="goods-img-14 f" ng-repeat="item in url track by $index">
        <i class="fa fa-minus-circle" ng-click="delPic($index)"></i>
        <img ng-if="item" ng-src="{{item}}">
        <div class="set-face-img-14" title="未选择时默认第一张为封面" ng-click="setFaceImg($index)">设为封面</div>
        <div class="select-round-14" ng-click="setFaceImg($index)"></div>
    </div>
     
    <div class="upload-icon f">
        <div class="upload-goods-form">
            <i class="ti-plus"></i>
            <form id="file-form-14">
            	<input type="file" name="file" multiple="multiple" onchange="angular.element(this).scope().imgUpload(this.files)">
            </form>
        </div>
      
    </div>
</div>