<div class="mn-header fix">
    <div class="f"><i class="fa fa-th m-color-0"></i><span>拍品删除记录</span></div>
</div>

<div class="table-search fix">
    <div class="f">开始时间：</div>
    <div class="f m-g-l-10"><input type="text" class="form-control wicon" id="sTime" readonly></div>
    <div class="f m-g-l-20">结束时间：</div>
    <div class="f m-g-l-10"><input type="text" class="form-control wicon" id="eTime" readonly></div>
    <div class="f m-g-l-10"><a class="btn btn-default" ng-click="searchData()">查询</a></div>
</div>
<div class="data-total">删除拍品：<span class="m-color-1" style="margin-right: 5px;">{{sumCount}}</span>件</div>

<div class="table-container">
    <table class="table">
        <thead><tr>
            <td style="text-align: center">序号</td>
            <td style="text-align: center">拍品图片</td>
            <td style="text-align: center">拍品名称</td>
            <td style="text-align: center">操作者</td>
            <td style="text-align: center">删除时间</td>
        </tr></thead>
        <tbody id="upAuction"><tr ng-repeat="item in objectList">
            <td style="text-align: center">{{$index+1+(page.currentPage-1)*page.selectPageNum}}</td>
            <td><img style="width: 105px;margin: 0 auto;" ng-if="item.pic" ng-src="{{item.pic}}" ng-click="checkImg()"></td>
            <td style="text-align: center">{{item.cName}}</td>
            <td style="text-align: center">{{item.adminName}}</td>
            <td style="text-align: center">{{item.delTime}}</td>
        </tr></tbody>
    </table>
</div>

<div ng-include="'modules/page/page.html'"></div>

<script src="view/data/auctionGoodsController.js"></script>

<script src="view/data/mn.data.sale.js"></script>