<div class="item" ng-show="isShowUserData">
    <div class="mn-header fix">
        <div class="f"><i class="fa fa-th m-color-0"></i><span>出价列表</span></div>
        <div class="f">
        	<div class="forth-width" id="offer-price-btn"  ng-click="getNewMes()">最新出价</div>
        
	    </div>
         <div class="f">
        	
        	<div class="forth-width"  id="today-get-btn" style="margin-left:20px" ng-click="todayGet()">当日截拍</div>
	    </div>
    </div>

    <div ng-if="!isTodayGet" ng-show="!isTodayGet" class="table-container">
        <table class="table">
            <thead>
            <tr>
                <td style="text-align: center">序号</td>
                <td style="text-align: center">拍品图片</td>
                <td style="text-align: center">拍品名称</td>
                <td style="text-align: center">出价用户</td>
                
                <td style="text-align: center;width:190px;line-height: 30px;">备注</td>
                <!--<td style="text-align: center;width:170px">用户详情</td>-->
                <td style="text-align: center">出价金额</td>
                <td style="text-align: center">出价时间</td>
                <!--<td style="text-align: left;padding-left:110px">操作</td>-->
             
                <!--<td><div class="all-sel-txt">全选</div><span ng-click="onClickSelectAll()" ng-class="{true: 'has-sel', false: 'un-sel'}[isSelected]"></span></td>-->
            </tr>
            
            </thead>
            <tbody>
	            <tr ng-repeat="item in goodsModel.modelArr">
	                <td style="text-align: center">{{$index + 1 + (page.currentPage - 1)*page.selectPageNum}}</td>
	                <td><img style="width: 105px;margin: 0 auto;" ng-if="item.goods_pics" ng-src="{{item.goods_pics}}" ng-click="checkImg()"></td>
	                <td style="text-align: center">{{item.goods_name}}</td>
	                <td title="点击查看用户详情" style="text-align: center;overflow: hidden;position: relative;width:170px;" ng-click="toSeeHisDetail(item)">
	                	<div style="width:70%;">
	                		{{item.name}}
	                		
	                	</div>
	                	<img style="position: absolute;display:block;width:30px;height:30px;top:50%;right:19%;margin-top:-15px;" src="assets/images/public/toseeper2.png" /> 
	                </td>
	                
	                <td style="text-align: center;position: relative;width:200px;line-height: 30px;overflow: hidden;" ng-click="showPersonDetail(item)">
	                	<div style="width:70%;word-wrap:break-word;white-space: normal; word-break: break-all;max-height: 60px;line-height: 30px;overflow: hidden;">
	                		{{item.note}}
	                		
	                	</div>
	                	
	                	<img style="position: absolute;display:block;width:30px;height:30px;top:48%;right:15%;margin-top:-15px;" src="assets/images/public/tsp2.png" />
	                </td>
	                <!--<td style="text-align: center;width:170px">
	                	<div class="btn btn-white" ng-click="toSeeHisDetail(item)">
	                		查看详情
	                	</div>
	                	
	                </td>-->
	                <td class="highOrSale">
	                	<span class="now-money" ng-class="{true:'now-money-cg',false:''}[item.isSale || item.isHigh]">
	                		{{"￥"+item.nowPrice}}
	                	</span>
	                	<span ng-class="{true:'tumover-price-cg',false:''}[item.isSale || item.isHigh]" ng-show="item.isSale">成交价</span>
	                	<span ng-class="{true:'heightest-price-cg',false:''}[item.isSale || item.isHigh]" ng-show="item.isHigh">最高价</span>
	                	
	                </td>
	                <td style="text-align: center">{{item.createTime}}</td>
	                <!--<td style="text-align: center;" class="btn"><div class="message-style" ng-click="sendMessage(2,item)">成交短信</div></td>
	                <td style="text-align: center;" class="btn"><div class="message-style" ng-click="sendMessage(3,item)">截拍短信</div></td>
	                <td style="text-align: center;" class="btn"><div class="message-style" ng-click="sendMessage(1,item)">超出短信</div></td>-->
	                
	            </tr>
            </tbody>
        </table>
    </div>
    
    
    
    
    <div  ng-if="isTodayGet" ng-show="isTodayGet" class="table-container">
        <table class="table">
            <thead>
            <tr>
                <td style="text-align: center">序号</td>
                <td style="text-align: center">拍品图片</td>
                <td style="text-align: center">拍品名称</td>
                <td style="text-align: center">操作</td>
            </tr>
            
            </thead>
            <tbody>
	            <tr ng-repeat="item in todayGetArr">
	                <td style="text-align: center">{{$index + 1 + (page.currentPage - 1)*page.selectPageNum}}</td>
	                <td><img style="width: 105px;margin: 0 auto;" ng-if="item.goodsInfo.goods_cover" ng-src="{{item.goodsInfo.goods_cover}}" ng-click="checkImg()"></td>
	                <td style="text-align: center">{{item.goodsInfo.goods_name}}</td>
	                <td style="text-align: center"><span style="line-height:23px;padding:5px 10px;background:#CC9933;color:#FFFFFF;border-radius: 3px;" ng-click="toseeOutPrice(item)">查看出价记录</span></td>
	            </tr>
            </tbody>
        </table>
    </div>
    
    
    
     <div class="all-fixed-table">
     	<div class="auct-box">
     		<p class="auct-title"><span ng-bind="goodsModel.messContent" style="color:#000000;"></span></p>
     		<div class="auct-cont">
     			你确定要发送关于拍品 <span ng-bind="goodsModel.goodsName" style="color:#000000;font-weight: 600;"></span> 的 <span ng-bind="goodsModel.messContent" style="color:#000000;font-weight: 600;"></span> 给用户   <span ng-bind="goodsModel.userName" style="font-weight: 600;color:#000000"></span> 吗？
     		</div>
     		<div class="auct-btn">
     			
     			<p class="all-btn-cancle" ng-click="yesToSend(1)">发送</p>
     			<p class="all-btn-ok" ng-click="yesToSend(0)">取消</p>
     		</div>
     	</div>
     </div>
     
     
     
    <div id="big-box-three" ng-click="submitData()">
	<div class="modify-box" id="mode-remark-three">
		<!--<div class="delete-it" ng-click="hideShadow()">X</div>-->
	    <div class="note-box">
	        <div class="note-box-title">备注信息：</div>
	        <!--<div class="note-box-con" ng-bind="modify.note"></div>-->
	    </div>
	    <div class="input-box">
	       
	        <div style="overflow-y: scroll;" ng-bind="personNote">
	        	
	        </div>
	    </div>
	    
	    <div class="auct-btn">
     			
     			<p style="margin-right:130px;height:32px;line-height:32px;" class="all-btn-cancle" ng-click="submitData()">确定</p>
     			<!--<p class="all-btn-ok"  ng-click="hideShadow()">取消</p>-->
     	</div>
	    <!--<div class="cancle-ok">
	    	<div class="ok" ng-click="submitData()">确定</div>
	    	<div class="cancle" ng-click="hideShadow()">取消</div>
	    </div> -->
	</div>
</div>
    <div ng-include="'modules/page/page.html'"></div>
</div>


<div class="item hidden">
	 <div class="mn-header fix">
        <div class="f"><i class="fa fa-th m-color-0"></i><span>出价记录</span></div>
        <div class="r">
			<a class="btn btn-white" ng-click="hideTheItem()"><i class="ti-back-left"></i>返回</a>
		</div>
    </div>
    <div class="mn-header fix" style="border-top:0">
        <div class="f"><span>竞拍记录</span></div>
        
    </div>
    <table class="table" style="background: #FFFFFF;">
            <thead>
            <tr>
                <td style="text-align: center">序号</td>
                <td style="text-align: center">竞拍时间</td>
                <td style="text-align: center">出价人</td>
                <td style="text-align: center">出价记录</td>
            </tr>
            
            </thead>
            <tbody>
	            <tr ng-repeat="item in infoModel.outPriceArr">
	                <td style="text-align: center">{{$index + 1 + (page.currentPage - 1)*page.selectPageNum}}</td>
	                <td style="text-align: center;" ng-bind="item.createTime"></td>
	                <td style="text-align: center">{{item.goods_name}}</td>
	                <td style="text-align: center" ng-bind="'￥'+item.nowPrice"></td>
	            </tr>
            </tbody>
        </table>
        <div id="simplePage_33" class="simplePage user-sel-none" style="text-align: right; background: #FFFFFF;"></div>
</div>

<div ng-include="'view/offerPrice/userInfoPage.html'" ng-show="!isShowUserData"></div>


