<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>推广图片</title>
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/loginIn.css" />
        <link rel="stylesheet" href="css/popUp.css" />
        <link href="layer.css">
        <script src="js/base64.js"></script>
        <script type="text/javascript" src="js/jquery-1.8.3.js" ></script>
        <link rel="stylesheet" href="swiper/swiper.css"  />
        <script src="js/base64.js"></script>
     	<script src="js/qrodecopy.js"></script>
	</head>
    
	<body ng-controller="myPushPicCtr" style="background: #F2F2F2;">
		 <div class="animation3">
			        <img src="img/loading.gif"/>
		  </div>
		 <div class="container3" style="background: #F2F2F2;">
		 	  <div class="swiper-container" style="top:45%;margin-top:130px;">
		        <div class="swiper-wrapper" id="preImages">
		            <div class="swiper-slide item-img">
		            	<div id="qrcodefir"></div>
		            	<img src="" id="img_01" style="display: none;" />
		            	<!--<img src="img/fir.png" style="height:auto;margin:0 auto">-->
		                <img class="preView-img" id="img1" src="" alt="" style="vertical-align: top;">
		            </div>
		            <div class="swiper-slide item-img">
		            	<div id="qrcodesec"></div>
		            	<!--<img src="img/sec.png" style="height:auto;margin:0 auto">-->
		            	<img src="" id="img_02" style="display: none;" />
		                <img class="preView-img" id="img2" src="" alt="" style="vertical-align: top;">
		            </div>
		            
		             <div class="swiper-slide item-img">
		            	<div id="qrcodethi"></div>
		            	<!--<img src="img/thi.png" style="height:auto;margin:0 auto">-->
		            	<img src="" id="img_03" style="display: none;" />
		                <img class="preView-img" id="img3" src="" alt="" style="vertical-align: top;">
		            </div>
		            
		             <div class="swiper-slide item-img">
		            	<div id="qrcodefou"></div>
		            	<!--<img src="img/fou.png" style="height:auto;margin:0 auto">-->
		            	<img src="" id="img_04" style="display: none;" />
		                <img class="preView-img" id="img4" src="" alt="" style="vertical-align: top;">
		            </div>
		            
		             <div class="swiper-slide item-img">
		            	<div id="qrcodefiv"></div>
		            	<!--<img src="img/fiv.png" style="height:auto;margin:0 auto">-->
		            	<img src="" id="img_05" style="display: none;" />
		                <img class="preView-img" id="img5" src="" alt="" style="vertical-align: top;">
		            </div>
		            <img id="showIds_01" style="display: none;" src="" style="width:200px;height:100px;margin-top:300px;display: none;"  />
		            <canvas width="2000" height="1000" style="display: none;width:100%;height:auto" id="canvas1"></canvas>
		          
		            
		            <img id="showIds_02" style="display: none;" src="" style="width:200px;height:100px;margin-top:300px;display: none;"  />
		            <canvas width="2000" height="1000" style="display: none;width:100%;height:auto" id="canvas2"></canvas>
		          
		            
		            <img id="showIds_03" style="display: none;" src="" style="width:200px;height:100px;margin-top:300px;display: none;"  />
		            <canvas width="2000" height="1000" style="display: none;width:100%;height:auto" id="canvas3"></canvas>
		           
		            
		            <img id="showIds_04" style="display: none;" src="" style="width:200px;height:100px;margin-top:300px;display: none;"  />
		            <canvas width="2000" height="1000" style="display: none;width:100%;height:auto" id="canvas4"></canvas>
		           
		           
		           <img id="showIds_05" style="display: none;" src="" style="width:200px;height:100px;margin-top:300px;display: none;"  />
		            <canvas width="2000" height="1000" style="display: none;width:100%;height:auto" id="canvas5"></canvas>
		            
		            <!--<div style="display: none;width:100%;height:230px;overflow: hidden;">-->
		           
		            <!--</div>-->
		            
		            <!--<div class="swiper-slide item-img">
		            	<div id="qrcodesec"></div>
		            	<img src="img/sec.png" style="height:auto;margin:0 auto">
		            	
		            </div>
		            <div class="swiper-slide item-img"s>
		            	<div id="qrcodethi"></div>
		            	<img src="img/thi.png" style="height:auto;margin:0 auto">
		            	
		            </div>
		            <div class="swiper-slide item-img">
		            	<div id="qrcodefou"></div>
		            	<img src="img/fou.png" style="height:auto;margin:0 auto">
		            		
		            </div>
		            <div class="swiper-slide item-img">
		            	<div id="qrcodefiv"></div>
		            	<img src="img/fiv.png" style="height:auto;margin:0 auto">
		            		
		            </div>-->
		        </div>
 
            </div>
            <div class="swiper-button-prev" ng-click="toInit()" id="predivbtn" style="top:52%;margin-top:120px;left:26%;height:35px;line-height:35px;text-align: center; background-image: url()">上一张</div>
            <div class="swiper-button-next" ng-click="toInit()" id="nexdivbtn" style="top:52%;margin-top:120px;right:26%;height:35px;line-height:35px;text-align: center;background-image: url()">下一张</div>
		 </div>
	</body>
    
	<!--系统js-->
	
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/jqAjaxRequest.js" ></script>
	<script type="text/javascript" src="js/common.js" ></script>
	<script type="text/javascript" src="js/config.js" ></script>
    <script src="js/layer.js"></script>
    <script src="js/dialog.js"></script>
     <script src="swiper/swiper.min.js"></script>
	<script type="text/javascript" src="js/confirmTip.js" ></script>
     <script src="js/app.js"></script>
     
	<script>
		
		  
			if (typeof localStorage === 'object') {
			    try {
					localStorage.setItem('localStorage', 1);
					localStorage.removeItem('localStorage');
				} catch (e) {
					Storage.prototype._setItem = Storage.prototype.setItem;
					Storage.prototype.setItem = function() {};
					$dialog.msg('为了正常访问，请关闭无痕模式');
				}
			}


	</script>
	<!--插件-->
	<script type="text/javascript" src="js/fastclick.js" ></script>
	<!--controller-->
	<script type="text/javascript" src="controller/myPushPicCtr.js" ></script>
	<script>
		if(window.screen.width < 375){
			$('.user-input').css('margin-top','5vh');
		}
		
		
		$(function() {
			
			//监听微信返回按钮
			pushHistory();
			var bool=false;

            setTimeout(function(){
                bool=true;
            },1000);
		    window.addEventListener("popstate", function(e) {
		    	if (bool)
		    	{   

		    		location.href = pageUrl.HOME_PAGE
		    	}
		    	pushHistory();

		    }, false);
		    function pushHistory() {
		        var state = {
		            title: "title",
		            url: "#"
		        };
		        window.history.pushState(state, "title", "#");
		    }
		})
		
	</script>
</html>


