<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
        <title>雅玩之家</title>
        <link rel="stylesheet" href="css/ui.base.css" />
        <link rel="stylesheet" href="css/selected.css" />
        <link rel="stylesheet" href="popUpModal/popUp.css" />
        <link rel="stylesheet" href="plugin/layerMobile/need/layer.css" />
	</head>
	<body ng-controller="ctrl">
		<div id="myself-head"  ng-click="jumpToSelfZone()" style="position: fixed;top:10px;left:10px;width:50px;height:50px;display: block;z-index: 99999;">
			<img src="img/personal-enter.png"> 
		</div>
		<!--加载动画-->
		<div class="animation">
			<img src="img/loading.gif" />
		</div>
		
		<!--style="background-color: #fff;margin-bottom: 40px;position:absolute; overflow:auto;-webkit-overflow-scrolling: touch; top:0; left:0; bottom:0; right:0;"-->
		
		<div class="container scroll">
			<div class="list">
				<ul id="auction-ul">
					<li ng-repeat="item in auctionItems" id="test_{{item.id}}" ng-click="onClickToAuctionHistoryDetail(item)" on-finish-render-filters>
						<div class="item-img">
                            <!--<b style="background-image: url({{item.aucted}})"></b>-->
                            <img style="position: absolute;top:1vw;left:0px;z-index: 5;width:14vw;height:14vw;" class="smallvippic" ng-show="(item.isVIP == 1)" src="img/newVip.png">
                            <b>
                            	<img src="img/aucted0.png"> 
                            </b>
							<img ng-src="{{item.goodsInfo.goods_pics[0]}}">
						</div>
						<div class="price">
							<div ng-bind="item.goodsInfo.goods_name"></div>
							<div class="aucted-content">
								<span>{{item.status==1?"流拍":item.isAucted?"成交价￥":"流拍"}}</span>
								 <span ng-show="item.status==0 && item.isAucted" ng-bind="item.currentPrice"></span>
							</div>
						</div>
					</li>
					<div class="ac-no-more-data">
					        更多精彩拍品，每晚十点上拍！
				    </div>
				</ul>
				
			</div>
			
			<!--暂无数据-->
			<div class="no-data">暂无数据！</div>
		</div>
        
        <div id="acfixed-shade"  ng-click="acOkToShut()">
        	<div class="acmodied-box" id="acsure-remark">
			    <div class="acvipMark-box">
			        <img src="img/newBigVip.png">
			    </div>
			    <div class="accontents-box">
			                        本件拍品为 “VIP专享”，只有VIP才能查看详情和参与竞价。 申请成为VIP，请联系VIP客服专员, 微信号：tldwzhg(陶兰都吴掌柜)
			    </div>
			    <div class="acsure-to-do">
			    	确定
			    </div> 
			</div>
        </div>
        
        <div class="acu-chrysanthemums">
			<img src="img/loading.gif"/>
		</div>
		<div ng-include="'module/tab/tab.html'"></div>
	</body>

	<!--系统js-->
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/jqAjaxRequest.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
    <script src="js/commonArr.js"></script>
    <script src="plugin/layerMobile/layer.js"></script>
    <script src="module/dialog/dialog.js"></script>
    <script src="module/tab/tab.js"></script>
    <script src="controller/app.js"></script>

	<!--controller-->
	<script type="text/javascript" src="controller/auctionHistoryController.js" ></script>
	
	<!--插件-->
	<script type="text/javascript" src="js/fastclick.js" ></script>
	<!--<script type="text/javascript" src="js/htmlNoScroll.js" ></script>-->
	
	<script>
		
		$(function() {
			
			//监听微信返回按钮
			pushHistory();
			var bool=false;

            setTimeout(function(){
                bool=true;
            },1000);
		    window.addEventListener("popstate", function(e) {
		    	if (bool)
		    	{   
		    		location.href = pageUrl.AUCTION_HISTORY;
		    		
		    	}
		    	pushHistory();

		    }, false);
		    function pushHistory() {
		        var state = {
		            title: "title",
		            url: "#"
		        };
		        window.history.pushState(state, "title", "#");
		    }
		})
	</script>
</html>
