<!DOCTYPE html>
<html ng-app="app">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="email=no">
        <meta name="format-detection" content="telephone=no">
        <title></title>
        <link rel="stylesheet" href="swiper/swiper.css" />
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/selected.css" />
        <link rel="stylesheet" href="popUpModal/popUp.css" />
        <link href="plugin/layerMobile/need/layer.css">
	</head>
	<body ng-controller="ctrl" style="background: #FFFFFF;">

		<!--加载动画-->
		<div class="animation">
			<img src="img/loading.gif" />
		</div>

        <div class="container noScroll" style="overflow-y: scroll;">
			
		   <div class="swiper-container">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide item-img" ng-repeat="item in goodsDetailModel.allInfo.goods_icon_new" on-Finish-Render-Filters>
		            	<img ng-src="{{item.showIcon}}"/>
		            </div>
		        </div>
                <!--<!-- Add Pagination -->
               <div class="swiper-pagination"></div>
		    </div>
		    
		    
		    <div style="line-height:38px;text-align:center;color:#C4996D;background: #FFFFFF;" ng-click="showRegular()">
		    	查看竞猜规则 >>
		    </div>
		    
		   <!--<div id="guessDetailContent" style="background: #FFFFFF;padding: 5px 10px 5px 10px;line-height:21px;color;#000000">
				<div style="width:100%;height:40px;line-height:40px;text-align: center;font-size: 17px;color:#8B4603;">成交价竞猜活动说明</div>
				
				<div style="margin-bottom:8px">
					1.开拍前可以竞猜成交价，每人可竞猜一次，押注<span style="color:#E38D2C" ng-bind="goodsDetailModel.allInfo.tickets"></span> 元，放入奖金池。最多可
					<span style="color:#E38D2C" ng-bind="goodsDetailModel.allInfo.limitNum"></span>
					人参与竞猜，即奖金池金额最多为
					<span style="color:#E38D2C" ng-bind="goodsDetailModel.sumMoney"></span>元；
				</div>
				
				<div style="margin-bottom:5px">
					2.开拍后如遇特殊情况取消拍卖，则押注退回到每个参与者的账户；
				</div>
		
				<div style="margin-bottom:5px">
					3. 开拍前可以竞猜成交价，每人可竞猜一次，押注 元，点击参加活动即开始扣款，门票除特殊情况，一律不予退还。
				</div>
				<div style="margin-bottom: 5px;">
					3.截拍后分配奖金，如果流拍，则押注退回到每个参与者的账户；
				</div>
				<div style="margin-bottom: 5px;">
					4.设一等奖、二等奖和三等级三级奖项。竞猜的成交价最接近实际成交价的参与者获得一等奖，以此类推，如果同一级奖项有多人获得，则这些参与者平分该级奖项；
				</div>
				<div style="margin-bottom: 5px;">
					5.如果只有一等奖，则奖金池100%分配给一等奖获得者；
				</div>
				<div style="margin-bottom: 5px;">
					6.如果只有一等奖和二等奖，则奖金池的分配比例为65%和35%；
				</div>
				<div style="margin-bottom: 5px;">
					7. 如果有一等奖、二等奖和三等奖，则奖金池的分配比例为60%、30%和10%；
				</div>
				<div style="margin-bottom: 5px;">
					8. 有关活动规则，雅玩之家拥有最终解释权；
				</div>
				
			</div>-->
		  
		    <div id="fixed-regular" ng-click="showRegular()">
		    </div>
		    <div id="fixed-close"  ng-click="showRegular()">
		    	X
		    </div>
		    <div id="guessDetailContent" style="background: #FFFFFF;padding: 5px 10px 5px 10px;line-height:21px;">
		    	
				<div style="width:100%;height:30px;line-height:30px;text-align: center;font-size: 16px;color:#8B4603;">成交价竞猜活动说明</div>
				
				<div style="margin-bottom:8px">
					1.开拍前可以竞猜成交价，每人可竞猜一次，押注<span style="color:#E38D2C" ng-bind="goodsDetailModel.allInfo.tickets"></span> 元，放入奖金池。最多可
					<span style="color:#E38D2C" ng-bind="goodsDetailModel.allInfo.limitNum"></span>
					人参与竞猜，即奖金池金额最多为
					<span style="color:#E38D2C" ng-bind="goodsDetailModel.sumMoney"></span>元；
				</div>
				
				<div style="margin-bottom:5px">
					2.开拍后如遇特殊情况取消拍卖，则押注退回到每个参与者的账户；
				</div>
				<div style="margin-bottom: 5px;">
					3.截拍后分配奖金，如果流拍，则押注退回到每个参与者的账户；
				</div>
				<div style="margin-bottom: 5px;">
					4.设一等奖、二等奖和三等级三级奖项。竞猜的成交价最接近实际成交价的参与者获得一等奖，以此类推，如果同一级奖项有多人获得，则这些参与者平分该级奖项；
				</div>
				<div style="margin-bottom: 5px;">
					5.如果只有一等奖，则奖金池100%分配给一等奖获得者；
				</div>
				<div style="margin-bottom: 5px;">
					6.如果只有一等奖和二等奖，则奖金池的分配比例为65%和35%；
				</div>
				<div style="margin-bottom: 5px;">
					7.如果有一等奖、二等奖和三等奖，则奖金池的分配比例为60%、30%和10%；
				</div>
				<div style="margin-bottom: 5px;">
					8.有关活动规则，雅玩之家拥有最终解释权。
				</div>
				
			</div>
		   
		   
			<div class="time-operate" style="overflow: hidden;">
				<div class="end-time">
					<div class="endtime-fresh" ng-click="onClickUpdateTime()">
						<img src="img/fresh.png" />更&nbsp;新<span id="updateTime" ></span>
					</div>
					<div class="endtime-realtime clear">
						<div class="endtime-text">距离开拍:</div>
						<div class="endtime-time">
							<div id="endTime">
								<span id="day"></span>天
								<span id="hour"></span>时
								<span id="minute"></span>分
								<!--<span id="second"></span>-->
							</div>
						</div>
					</div>
				</div>
				<button id="goodsBtn" class="goods-btn-2" ng-click="onClickPay()" style="margin-top:20px;margin-bottom:20px">我要竞猜</button>
				
			</div>

            <div id="capped-box" ng-show="goodsDetailModel.allInfo.isQuiz != null" class="capped-hide" style="display: block;">
	            <div id="capped-price-box">
	                <button id="capped-price-btn">
	                    <span id="capped-price">奖金池总额</span>￥<span ng-bind="goodsDetailModel.allInfo.sum"></span>
	                </button>
	            </div>
            </div>
            <div ng-show="biddingModel.isShoWaWard" class="goods-buyer" style="padding-bottom:10px">
				<div class="guess-list-title">
					<div class="guess-list">中奖列表</div>
					<!--<div class="guess-money">中奖金额</div>-->
				</div>
				<div class="goods-buyer-block clear">
					<li class="clear" ng-repeat="item in biddingModel.drawnList">
						<span style="margin-left:8px" class="award-ranking" ng-class= "item.Bagcolor"  ng-bind="item.award"></span>
						<img class="buyer-icon"  style="margin-left: 10px;" ng-src="{{item.icon}}" />
						<div class="buyer-tel" style="margin-left:10px" ng-bind="item.telephone"></div>
						<div class="buyer-money" style="float:right;margin-right: 6px;">￥<span ng-bind="item.awardMoney"></span></div>
						<!--<div class="pay-time" style="float:left;margin-left: 5px;" ng-bind="item.part_time*1000 | date:'MM-dd HH:mm'"></div>-->
					</li>
				</div>
			</div>
			<div class="goods-buyer">
				<div class="guess-list-title">
					<div class="guess-list">竞猜列表</div>
					<!--<div class="guess-money">竞猜成交价</div>-->
				</div>
				<div class="goods-buyer-block clear">
					<li class="clear" ng-repeat="item in biddingModel.biddingList">
						<img class="buyer-icon" ng-src="{{item.icon}}" />
						<div class="buyer-tel" ng-bind="item.telephone"></div>
						<div style="float:right;margin-right:6px" class="buyer-money">￥<span ng-bind="item.quiz_price"></span></div>
						<div style="float:left;margin-left:10px;" class="pay-time" ng-bind="item.part_time*1000 | date:'yy-MM-dd HH:mm:ss'"></div>
					</li>
					<div class="check-more" ng-click="onClickCheckMore()" ng-show="biddingModel.isCheckOver" ng-bind="biddingModel.checkMore">查看更多</div>
				</div>
			</div>
        </div>
        
        
        <!--出价弹窗-->
        <div class="pay-block-bg">
            <div class="pay-block">
                <div class="pay-block-top fix" style ="padding:0px;height:30px;line-height:30px;background: #F0F0F0;">
                    <span style = "width:100%;height:100%;text-align: center;font-size:15px;background: #F0F0F0;letter-spacing: 1px;">竞猜成交价</span>
                    <span style = "position:absolute;right:10px;top:5px;width:20px;line-height:20px;text-align: center;" id="closePayBlock"></span>
                </div>
                <div class="pay-price fix">
                    <span style="min-width:130px">输入您预测的成交价</span>
                    <div class="pay-price-input fix" style="max-width:140px">
                        <div id="payPrice"></div>
                        <div class="cursor"></div>
                    </div>
                    <img class="pay-price-img" ng-show="biddingModel.numDel" ng-click="onClickNumDel()" src="img/del.png" />
                </div>

                <div class="pay-txt" style="padding:8px 10px;">
                  
                    	<span style="color: #888888;font-size: 14px;">竞猜成交价格，需要扣除押注</span><span style="color: #FF0000;">￥</span><span style="color: #FF0000;font-size: 13px;" ng-bind="goodsDetailModel.allInfo.tickets"></span>
                </div>
               
                <div class="pay-protocol" style="padding-top:15px">
                    <div class="ripple" style="width:84%;height:38px;margin:15px 0 0 8%;background: #04BC06;letter-spacing:2px;color:#FFFFFF;text-align: center;line-height:38px;font-size:15px" ng-click="onClickPayNow()">确定</div>
                    <p>出价即表示同意<span style="color: #759FE3" ng-click="onClickPayProtocol()">《雅玩之家服务协议》</span></p>
                </div>

                <div class="key-board fix">
                    <div class="keyboard-num" ng-click="payNumAdd(1)">
                        <div>1</div>
                        <div></div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(2)">
                        <div>2</div>
                        <div>ABC</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(3)" style="border-right: none;">
                        <div>3</div>
                        <div>DEF</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(4)">
                        <div>4</div>
                        <div>GHI</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(5)">
                        <div>5</div>
                        <div>JKL</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(6)" style="border-right: none;">
                        <div>6</div>
                        <div>MNO</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(7)">
                        <div>7</div>
                        <div>PQRS</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(8)">
                        <div>8</div>
                        <div>TUV</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(9)" style="border-right: none;">
                        <div>9</div>
                        <div>WXYZ</div>
                    </div>

                    <div class="keyboard-num" ng-click="payNumAdd(10)" style="background-color: #d1d5da;">
                        <div class="double-zero">00</div>
                    </div>
                    <div class="keyboard-num" ng-click="payNumAdd(0)">
                        <div class="single-zero">0</div>
                    </div>
                    <div class="keyboard-num" ng-click="delPayNum()" style="background-color: #d1d5da;border-right: none;">
                        <div class="back-del"><img src="img/back-del.png" /></div>
                    </div>
                </div>
                
                
<!--                
                 <div class="to-add-money" style="height:385px;position: fixed;padding-top:40px;width:100%;height:384px;bottom:0;left:0;background: #FFFFFF;">
		        	<span ng-click="closeAdd()" style = "position:absolute;color:#BBBBBB;font-size:22px;right:10px;top:10px;width:26px;line-height:26px;text-align: center;background: #E5E5E5;border-radius:50%;;" >X</span>
		        	
		        	<div>
		        		<p style="line-height:40px;height:40px;display: inline-block;min-width:200px;text-align: right;">当前的门票价为:</p>
		        		<p  style="line-height:40px;height:40px;display: inline-block;text-align: center;"><span ng-bind="goodsDetailModel.guessTicket" style="line-height:40px;color:#E38D2C"></span> 元 </p>
		        	</div>
		        	<div style="margin-bottom:30px">
		        		<p style="line-height:40px;height:40px;display: inline-block;min-width:200px;text-align: right;">您当前的账户余额为:</p>
		        		<p  style="line-height:40px;height:40px;display: inline-block;text-align: center;"><span ng-bind="biddingModel.myMoney" style="line-height:40px;color:#E38D2C"></span> 元 </p>
		        	</div>
		        	<div class="ripple" style="width:84%;height:38px;margin:15px 0 0 8%;background: #04BC06;letter-spacing:2px;color:#FFFFFF;text-align: center;line-height:38px;font-size:15px" ng-click="goToAddMoney()">前去充值</div>     
		        </div>-->
         
            
            </div>
        </div>
        
        
   
	</body>
	
	<!--系统js-->
	<script type="text/javascript" src="js/zepto.min.js" ></script>
	
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/jqAjaxRequest.js" ></script>
	
	<script type="text/javascript" src="js/common.js" ></script>
	<script type="text/javascript" src="js/config.js" ></script>
	
    <script src="plugin/layerMobile/layer.js"></script>
    <script src="module/dialog/dialog.js"></script>
    <script src="controller/app.js"></script>
    
 	<script src="js/commonArr.js"></script>
 	<script>
		$(function() {
			//出价弹窗
			$('.pay-block-bg').click(function(){
				$('.pay-block-bg').css('display','none');
			});
			
			$('.pay-block').click(function(e){
				e.stopPropagation();
			});
			
			$('#closePayBlock').click(function(){
				$('.pay-block-bg').css('display','none');
			});
			
			//委托出价弹窗
			$('.self-pay-block-bg').click(function(){
				$('.self-pay-block-bg').css('display','none');
			});
			
			$('#closeSelfBlock').click(function(){
				$('.self-pay-block-bg').css('display','none');
			});
			
			//监听微信返回按钮
			pushHistory();
			var bool=false;

            setTimeout(function(){
                bool=true;
            },1000);
		    window.addEventListener("popstate", function(e) {
		    	if (bool)
		    	{   
		    		if(commonFu.isEmpty(sessionStorage.getItem("comeWithGuess")))
		    		{   
		    			sessionStorage.getItem("comeWithGuess")
		    			location.href = pageUrl.GUESS_DETAIL + "?id=" + GuessInnerCtrl.thisDataId + "&page=" + GuessInnerCtrl.thisDetailPage ;

		    		}

		    		else
		    		{
		    			
		    			if(!commonFu.isEmpty(localStorage.getItem(localStorageKey.TOKEN)))
		    			{   
		    				
		    				if(sessionStorage.getItem("comeWithGuess") == 0)//0从我的竞猜详情跳转过来
		    				{    
		    					location.href = pageUrl.GUESS_DETAIL + "?id=" + GuessInnerCtrl.thisDataId + "&page=" + GuessInnerCtrl.thisDetailPage ;
		    				
		    				}
		    				else if((sessionStorage.getItem("comeWithGuess") == 1))//从我的拍品详情跳转过来
		    				{   
		    					location.href = pageUrl.GOODS_DETAIL + "?id=" + GuessInnerCtrl.thisDataId + "&page=" + GuessInnerCtrl.thisDetailPage ;
		    				}
		    				else if(sessionStorage.getItem("comeWithGuess") == 2)//从拍卖历史列表或我的消息详情跳转过来
			        	    {   
			        	    	
			        	    	if(sessionStorage.getItem("messlistOrauction") == 0)//从我的竞猜详情跳转过来
			        	    	{   
			        	    		
			        	    		location.href = pageUrl.AUCTION_HISTORY_INFO + "?id=" + GuessInnerCtrl.thisDataId + "&page=" + GuessInnerCtrl.thisDetailPage ;
			        	    	}
			        	    	else if(sessionStorage.getItem("messlistOrauction") == 1)//从我的消息跳转过来
			        	    	{
			        	    		location.href = pageUrl.MY_MESSAGE;
			        	    	}
			        	       
			        	    }
			        	    else if(sessionStorage.getItem("comeWithGuess") == 3)//从我的竞猜列表跳转过来
			        	    { 
			        	    	location.href = pageUrl.MY_GUESS_LIST + "?userId=" + localStorage.getItem(localStorageKey.userId);
			        	    }
			        	    else if(sessionStorage.getItem("comeWithGuess") == 4)//从我的个人中心跳转过来
			        	    {
			        	    	location.href = pageUrl.PERSON_CENTER;
			        	    }
			        	    else if(sessionStorage.getItem("comeWithGuess") == 5)//从我的消息跳转过来
			        	    {
			        	    	location.href = pageUrl.MY_MESSAGE;
			        	    }
			        	    else if(sessionStorage.getItem("comeWithGuess") == 6)//从我的竞猜列表跳转过来
			        	    {
			        	    	location.href = pageUrl.MY_GUESS_LIST + "?userId=" + sessionStorage.getItem("userId");
			        	    }
			        	   
		    			
		    			}
		    		}
		    	}
		    	pushHistory();

		    }, false);
		    function pushHistory() {
		        var state = {
		            title: "title",
		            url: "#"
		        };
		        window.history.pushState(state, "title", "#");
		    }
		})
	</script>
	<script src="module/tab/tab.js"></script>     
	<script type="text/javascript" src="popUpModal/confirmTip.js" ></script>
	<script type="text/javascript" src="popUpModal/confirmDialog.js" ></script>
	
	
	<!--插件-->
	<script type="text/javascript" src="js/fastclick.js" ></script>
	<script type="text/javascript" src="swiper/swiper.min.js" ></script>
    <!--<script type="text/javascript" src="../js/htmlNoScroll.js" ></script>-->
	<!--controller-->
	<script type="text/javascript" src="controller/guessInnerController.js" ></script>
	
</html>
