<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>登录 - 雅玩之家</title>
        <link rel="stylesheet" href="css/base.css" />
        <link rel="stylesheet" href="css/loginIn.css" />
        <link rel="stylesheet" href="popUpModal/popUp.css" />
        <link href="plugin/layerMobile/need/layer.css">
        <style>
        	.animation{
	
				height: 100%;
				width: 100%;
				display: none;
			}
			
			.animation img{
				width: 25px;
				height: 25px;
				margin-left: auto;
				margin-right: auto;
				position: absolute;
				left: 45%;
				top: 45%;
			}
            #isfromErwei{
            	color:#FFFFFF;
            }
        </style>
	</head>

	<body ng-controller="ctrl" style="background-color: #fff;">
		<div class="animation" style="position: fixed;z-index: 66;left:0;top:0;width:100%;height:100%;background: #FFFFFF;">
			<img src="img/loading.gif" />
		</div>
		<div class="container">
			<div class="log" style="float:left;">
				<img src="img/logo.png" />
				<br />
				<img src="img/titles.png" />
			</div>
			<div id="isfromErwei" ng-show="name != '' && name != null" style="padding:0 13%;margin-top:3vw;float:left;width:100%;text-align: left;overflow: hidden;">
				您的朋友 @<span ng-bind="name" style="line-height:22px;text-align: center;word-break: break-all;"></span> 邀您加入雅玩之家
			</div>
			<div class="user-input" style="float:left;margin-top:3vw;">
				<div class="login-input">
					<input type="telephone" class="input-tel-shade" ng-change="toShadeTel()" ng-model="loginModel.platformId" placeholder="请输入手机号"
                    onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11" />
				</div>
				<div class="code-input clear">
					<div class="code-wrap fix">
					    <input id="login-pass-input" type="text" ng-change="toShadePass()" maxlength="4" ng-model="loginModel.password" placeholder="请输入验证码"
                        onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" />
						<div class="mobile-code" ng-bind="loginModel.codeCount" ng-click="onClickGetCode()"></div>
					</div>
				</div>
				<button id="download-btn" ng-click="onClickLogin()">登 录</button>
			</div>
		</div>
	</body>
    
	<!--系统js-->
	<script type="text/javascript" src="js/zepto.min.js" ></script>
	<script type="text/javascript" src="js/angular.min.js" ></script>
	<script type="text/javascript" src="js/jqAjaxRequest.js" ></script>
	<script type="text/javascript" src="js/common.js" ></script>
	<script type="text/javascript" src="js/config.js" ></script>
    <script src="plugin/layerMobile/layer.js"></script>
    <script src="module/dialog/dialog.js"></script>
	<script type="text/javascript" src="popUpModal/confirmTip.js" ></script>
    <script src="controller/app.js"></script>
	<script>
		
		  
			if (typeof localStorage === 'object') {
			    try {
					localStorage.setItem('localStorage', 1);
					localStorage.removeItem('localStorage');
				} catch (e) {
					Storage.prototype._setItem = Storage.prototype.setItem;
					Storage.prototype.setItem = function() {};
					$dialog.msg('为了正常访问，请关闭无痕模式');
				}
			}


	</script>
	<!--插件-->
	<script type="text/javascript" src="js/fastclick.js" ></script>
	<!--controller-->
	<script type="text/javascript" src="controller/loginController.js" ></script>
	<script>
		if(window.screen.width < 375){
			$('.user-input').css('margin-top','3vw');
		}
		
		
		$(function() {
			
			//监听微信返回按钮
			pushHistory();
			var bool=false;

            setTimeout(function(){
                bool=true;
            },1000);
		    window.addEventListener("popstate", function(e) {
		    	if (bool)
		    	{   
		    		location.href = pageUrl.LOGIN_PAGE;
		    		
		    	}
		    	pushHistory();

		    }, false);
		    function pushHistory() {
		        var state = {
		            title: "title",
		            url: "#"
		        };
		        window.history.pushState(state, "title", "#");
		    }
		})
		
	</script>
</html>